@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Outfit:wght@100..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    @apply hidden
}

*{
    font-family: Outfit;
}